.m-chat {
  width: 100%;
  position: relative;
  height: 100%;
  &__leaveChat {
    position: absolute;
    right: 0;
    top: 0;
  }
  &__title {
    width: 100%;
    top: 0;
    position: absolute;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &__text {
      font-size: clamp(0.5rem, 2.5vw, 0.8rem);
    }
  }
  &__body {
    position: absolute;
    bottom: 0;
    height: 95%;
    width: 100%;
  }
  &__messagesBox {
    width: 100%;
    position: absolute;
    height: 90%;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 7px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.3);
      border-radius: 8px;
    }
    &__bubble {
      margin: 1rem 0.4rem;
      position: relative;
    }

    &__info {
      position: relative;
      display: flex;
      flex-direction: column;

      &__name {
        font-size: 12px;
        margin: 2px 0;
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: 0.8s ease-in-out;
        white-space: nowrap;

        span {
          opacity: 0.6;
        }
      }

      &__fullname {
        background-color: #1d1d1d;
        color: white;
        opacity: 0;
        padding: 2px 4px;
        position: absolute;
        top: -2px;
        left: 30px;
        transition: opacity 0.3s;

        &:hover {
          opacity: 1;
        }
      }

      &__avatar {
        min-width: 30px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        box-shadow: 0px 0px 2px 1.5px rgba(0, 0, 0, 0.2);

        &.--me {
          margin-left: 4px;
        }
        &.--others {
          margin-right: 4px;
        }
      }
      &__stamp {
        font-size: 11px;
        position: relative;
        top: 5px;
      }
      &__user {
        position: absolute;
        width: 85px;
        top: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 70%;
        z-index: 1;
      }
      &__secondUser {
        position: absolute;
        width: 85px;
        top: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 30%;
        left: 80%;
        z-index: 1;
      }
    }
    &__message {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__text {
        width: -moz-fit-content;
        width: fit-content;
        word-wrap: break-word;
        font-size: 1rem;
        padding: 4px 2px 12px 2px;
      }
      &__image {
        border-radius: 8px;
      }
      &__file {
        position: relative;
        border-radius: 5px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.8);
        &__name {
          margin: 0;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 80%;
          white-space: nowrap;
          color: #212121;
        }
        &__extension {
          margin: 0;
          color: #212121;
          text-transform: uppercase;
        }
        &__btn {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
  }
  &__formBox {
    position: absolute;
    height: 10%;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__form {
      display: flex;
      align-items: center;
      margin-left: 10px;
      height: calc(100% - 20px);
      width: calc(100% - 20px);
      &__input {
        color: #fffffe;
        font-size: 15px;
        margin-right: 10px;
        width: calc(100% - 20px);
      }
    }
  }
}
