.m-chat {
  width: 100%;
  position: relative;
  height: 100%;
  &__leaveChat {
    position: absolute;
    right: 0;
    top: 0;
  }
  &__title {
    width: 100%;
    top: 0;
    position: absolute;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &__text {
      font-size: clamp(0.5rem, 2.5vw, 0.6rem);
    }
  }
  &__body {
    position: absolute;
    bottom: 0;
    height: 95%;
    width: 100%;
  }
  &__messagesBox {
    width: 100%;
    position: absolute;
    height: 90%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 7px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.3);
      border-radius: 8px;
    }
    &__bubble {
      margin: 1rem 0;
      &:hover .m-chat__messagesBox__info__name {
        display: block;
        transition: all 1s ease;
      }
    }

    &__info {
      position: relative;
      display: flex;
      flex-direction: column;
      &__avatar {
        margin: 0 7px;
      }
      &__stamp {
        font-size: 11px;
        position: relative;
        top: 5px;
      }
      &__name {
        position: relative;
        top: 5px;
        font-size: 12px;
        display: none;
      }
      &__user {
        position: absolute;
        width: 85px;
        top: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 70%;
        z-index: 1;
      }
      &__secondUser {
        position: absolute;
        width: 85px;
        top: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 30%;
        left: 80%;
        z-index: 1;
      }
    }
    &__message {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 10px;
      &__text {
        width: fit-content;
        word-wrap: break-word;
        font-size: 0.7rem;
        padding-bottom: 12px;
      }
      &__image {
        border-radius: 8px;
      }
      &__file {
        position: relative;
        border-radius: 5px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        background-color: #fffffe;
        &__name {
          margin: 0;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 80%;
          white-space: nowrap;
          color: #212121;
        }
        &__extension {
          margin: 0;
          color: #212121;
          text-transform: uppercase;
        }
        &__btn {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
  }
  &__formBox {
    position: absolute;
    height: 10%;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__form {
      display: flex;
      align-items: center;
      margin-left: 10px;
      height: calc(100% - 20px);
      width: calc(100% - 20px);
      &__input {
        color: #fffffe;
        font-size: 15px;
        margin-right: 10px;
        width: calc(100% - 20px);
      }
    }
  }
}
