.m-external {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__message {
    color: #fffffe;
    margin: 0;
    &.--hint {
      color: rgba(255, 255, 255, 0.5);
    }
  }
  &__content {
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    &__input {
      padding: 10px;
      border-radius: 5px;
      background-color: #2f3136;
      color: #fffffe;
      text-align: center;
      outline: none;
      margin: 0.5rem 0;
      border: none;
      flex: 0.6;
      &::placeholder {
        color: #fffffe;
      }
    }
    &__hint {
      flex: 0.6;
      border-radius: 5px;
      background-color: #2f3136;
      color: #8e9297;
      margin: 0;
      text-align: center;
    }
    &__btn {
      flex: 0.3;
      &.--share {
        color: #009bff;
        border: 1px solid #009bf4;
      }
      &.--disable {
        color: rgba(#009bff, 0.4);
        border: 1px solid rgba(#009bff, 0.4);
      }
      &.--removeVideo {
        border: 1px solid #cd3636;
        color: #ff7777;
      }
    }
  }
}
