.a-hand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  height: auto;
  width: 320px;
  top: 0;
  right: 0;
  height: auto;
  z-index: 5;
}
