.a-menuBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  z-index: 3;
  right: 50%;
  display: flex;
  transform: translateX(50%);
  justify-content: center;
  &__box {
    position: absolute;
    bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(350deg, mediumslateblue 0%, #009bff 75%);
    border-radius: 7px;
    padding: 8px;
  }
  .active {
    background-color: rgba(0, 0, 0, 0.15);
    border: 1px solid #fffffe;
  }
  &__icon {
    color: rgba(255, 255, 255, 0.6) !important;
    &__tooltip {
      font-size: 0.65rem;
    }
  }
  &__periferics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.2;
  }
  &__functions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.6;
    &__responsive {
      display: none;
    }
  }
  &__options {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex: 0.2;
  }
}

@media only screen and (min-width: 300px) and (max-width: 578px) {
  .a-menuBar {
    width: calc(80% - 16px);
    &__functions {
      display: none;
      &__responsive {
        display: block;
      }
    }
  }
}
