.a-menuBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0;
  display: flex;
  justify-content: center;
  z-index: 4;
  &__box {
    position: absolute;
    bottom: 175px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(350deg, mediumslateblue 0%, #0099ff 75%);
    border-radius: 7px;
    padding: 10px;
  }
  .active,
  .activeHand {
    background-color: rgba(0, 0, 0, 0.15);
    border: 1px solid #fffffe;
  }

  &__icon {
    color: rgba(255, 255, 255, 0.6) !important;
    margin: 0 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &__chatbadge {
      height: 15px;
      width: 15px;
    }
    &__topin {
      box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.25);
      height: 15px;
      width: 15px;
      &.--roleOne {
        background-color: #0099ff;
      }
      &.--participants {
        background-color: green;
      }
      &.--noparticipants {
        background-color: #0099ff;
      }
    }

    &__tooltip {
      font-size: 0.65rem;
    }
  }
  &__periferics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.2;
  }
  &__functions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.6;
    margin: 0 1.2rem;
    &__responsive {
      display: none;
    }
  }
  &__options {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex: 0.2;
  }
  &__responsiveOptions {
    display: none;
  }
}

@media only screen and (min-width: 300px) and (max-width: 578px) {
  .a-menuBar {
    &__functions {
      display: none;
      &__responsive {
        margin: 0 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &__options {
      &__menu {
        display: none;
      }
    }
    &__responsiveOptions {
      display: block;
      position: absolute;
    }
  }
}
