.m-boardPanel {
  color: white;

  width: 100%;

  &__control {
    &__check {
      width: 100%;
      justify-content: space-between;
    }
  }

  .--mainTitle {
    font-weight: bolder;
    font-size: clamp(0.7rem, 2.5vw, 0.9rem);
  }
}
