.m-header {
  width: 100%;
  display: flex;
  //align-items: center;
  justify-content: space-between;
  // border: solid;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 10;

  &__logo {
    //width: 190px;
    width: 0%;
    /* height: 100%; */

    @media only screen and (max-width: 500px) {
      width: 50%;
    }

    &__image {
      padding: 20px;
      width: 245px;
      height: 100%;
      object-fit: contain;
      opacity: 0.7;
    }
  }

  &__recordingContainer {
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 500px) {
      width: 50%;
      flex-direction: column;
      // justify-content: flex-end;
      align-items: flex-end;
      padding-right: 20px;
    }
  }

  &__activeBoard {
    align-items: center;
    background-color: rgba(0, 255, 42, 0.788);
    color: white;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    justify-content: space-around;
    opacity: 0.6;
    padding: 10px 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: 0.5s;
    z-index: 10;

    &:hover {
      box-shadow: 0px 0px 10px 5px rgba(0, 255, 42, 0.788),
        0px 0px 20px 5px rgba(0, 255, 42, 0.788),
        0px 0px 40px 5px rgba(0, 255, 42, 0.788),
        0px 0px 60px 5px rgba(0, 255, 42, 0.788);
      opacity: 1;
    }

    @media only screen and (max-width: 500px) {
    top: 80px;

    }
  }
}
