.a-menu {
  width: 100%;
  padding: 3px;
  &__chatList {
    list-style: none;
    margin: 0;
    padding: 0;
    > * {
      cursor: pointer !important;
    }
    &__item {
      padding: 1px;
      margin: 5px 0;
      color: rgba(255, 255, 255, 0.4);
      display: flex;
      align-items: center;
      &:hover {
        color: #dcddde;
        background-color: rgba(126, 130, 136, 0.16);
      }

      &__description {
        cursor: pointer;
        margin: 0 8px;
        font-size: 0.58rem;
      }
    }
  }
}
