.o-cooperate {
  width: 100%;
  min-height: 100vh;
  background-color: #36393f;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__userVideoStreams {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 10px;
  }
}
