.o-cooperate {
  width: 100vw;
  min-height: 100vh;
  background-color: #36393f;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-enter-from {
  transform: translateX(-22vw);
}
.slide-leave-to {
  transform: translateX(-22vw);
}
.slide-enter-active,
.slide-leave-active {
  transition: all 0.3s;
}
