.o-cooperate {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('https://encrypted.fractalup.com/file/MainPublic/fractalup_assets/landing/main.png')
    #36393f;
  background-size: 70vw;
  background-position: 62% center;
  background-repeat: no-repeat;

  &__expand {
    // border: 1px solid blue;

    position: absolute;
    top: 10px;
    left: 10px;

    color: white;

    opacity: 0.2;

    transition: 0.3s;

    &:hover {
      opacity: 1;
    }
  }
}

.slide-enter-from {
  transform: translateX(-22vw);
}
.slide-leave-to {
  transform: translateX(-22vw);
}
.slide-enter-active,
.slide-leave-active {
  transition: all 0.3s;
}
