.m-video {
  position: absolute;
  top: var(--top);
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--width);
  height: var(--height);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  &__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    &.--playVideo {
      padding: 15px;
      width: 80px;
      color: white;
      border-radius: 7px !important;
      border: 1px solid #fffffe;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}

.miniMode {
  width: 82%;
  height: 82%;
}

.video-js {
  position: absolute !important;
  width: 100% !important;
  height: 90% !important;
}

.video-js {
  &.vjs-poster {
    display: none !important;
  }
}

// .vjs-loading-spinner {
//   display: none !important;
// }
// .vjs-tech {
//   pointer-events: none;
// }
// .vjs-loading-spinner {
//   display: none !important;
// }
