.m-video {
  position: absolute;
  top: var(--top);
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--width);
  height: var(--height);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  &__message {
    position: absolute;
    top: -25px;
    left: 0;
    font-size: clamp(0.65rem, 2.5vw, 0.7rem);
    padding: 14px;
    width: 100%;
    background: #0b1a32;
    color: #93abff;
    line-height: 1;
    border-radius: 4px;
  }
}

.miniMode {
  width: 82%;
  height: 82%;
}

.video-js {
  position: absolute !important;
  width: 100% !important;
  height: 90% !important;
}

.video-js {
  &.vjs-poster {
    display: none !important;
  }
}
.vjs-youtube-mobile .vjs-big-play-button {
  display: flex !important;
}
.vjs-youtube-mobile.vjs-has-started .vjs-big-play-button {
  display: none !important;
}
