.m-shared {
  // height: 200px;
  width: clamp(320px, 2.5vw, 400px);
  border-radius: 7px;
  background-color: #202125;
  position: relative;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.08);
  z-index: 1;
  perspective: 1000px;
  padding: 8px 16px;
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__message {
      font-size: clamp(0.8rem, 2.5vw, 0.9rem);
      margin: 0;
      font-weight: bold;
      position: relative;
      color: #fffffe;
      &:after {
        position: absolute;
        content: '';
        bottom: 8px;
        left: 0;
        width: 100px;
        height: 4px;
        background-color: rgb(45, 114, 226);
      }
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    &__message {
      font-size: clamp(0.7rem, 2.5vw, 0.7rem);
      color: #fffffe;
    }
    &__inputBox {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    &__input {
      flex: 0.7;
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      outline: none;
      color: black;
    }
    &__copyBtn {
      &__label {
        font-size: 0.65rem;
      }
    }
  }

  &__admin {
    color: white;
    font-weight: 400;
    font-size: 12px;

    margin-top: 12px;

    &__toggle {
      display: flex;
      justify-content: space-between;
    }
    &__actions {
      display: flex;
      flex-direction: column;
      // justify-content: flex-start;
    }
  }
}
