.m-config {
  height: 300px;
  width: 500px;
  background-color: #202125;
  max-width: 800px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &__head {
    padding: 10px;
    background-color: #212121;
    &__text {
      color: #fffffe;
      font-size: clamp(0.6rem, 2.5vw, 1rem);
      margin: 0;
    }
  }

  &__body {
    padding: 20px;
    &__periferics {
      &__title {
        color: #fffffe;
        font-weight: bold;
      }
      &__box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 1.1rem;
        &__label {
          color: #fffffe;
          font-size: clamp(0.7rem, 2.5vw, 0.8rem);
          margin: 0;
        }
      }
    }
  }
}
