.p-cooperateLobby {
  &__logo {
    display: block;
    margin: 0 auto 2.5rem;
    width: min(250px, 70%);
  }

  &__buttonCreateGroup {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 24px auto 0;
    width: 100%;
    .q-btn {
      box-sizing: border-box;
      min-width: 235px;
    }
    &.--initBtn {
      background-color: rgb(46, 204, 113);
    }
  }

  ::v-deep .q-btn--outline .q-btn__wrapper:before {
    border: 1px solid #fff !important;
  }
}
