.a-hiddenTextContainer {
  color: white;
  /* padding: 8px; */
  &__toggleButton {
    padding: 6px;
    cursor: pointer;
    /* border: solid red; */
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0px 0px 10px 0px rgba(51, 47, 47, 1);
          -webkit-box-shadow: 0px 0px 10px 0px rgba(51, 47, 47, 1);
          -moz-box-shadow: 0px 0px 10px 0px rgba(51, 47, 47, 1); */
    border: 1px solid #333030;
  }
  &__hidden {
    padding: 12px;
  }
}
