.m-sideBar {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  height: 100%;
  width: 25vw;
  padding: 5px;
  color: #fffffe;
  background-color: #2f3136;
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 9999;
}
