.m-sideBar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 14rem;
  color: #fffffe;
  background-color: #212121;
  border: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 9999;
}
