.a-notification {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px;
  margin: 0.5rem 0;
  border-radius: 5px;
  &__message {
    font-size: 15px;
    margin: 0 0.5rem;
    color: #fffffe;
  }
}
.faded {
  display: none;
}
