.a-userVideo {
  // border: 1px solid red;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  &__box {
    border-radius: 10px;
    &__stream {
      width: 200px;
      height: 180px;
      border: 1px solid blue;
    }
  }
}
