.a-userVideo {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 0.5rem;
  &__box {
    border-radius: 10px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    &__avatar {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__imageBox {
        width: 50%;
        &__image {
          width: 100%;
          object-fit: contain;
        }
      }
      &__info {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 10px;
        &__userName {
          color: #fffffe;
          font-size: 16px;
        }
      }
    }
    &__stream {
      width: 100%;
      height: 100%;
      object-fit: contain;
      min-height: 100px;
    }
  }
}
