.userVideoBox {
  margin: 0 10px;
  position: relative;
  border-radius: 10px;
  width: 14rem;
  height: 7.5rem;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  &__avatar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__imageBox {
      text-align: center;
      margin: 15px 0px;
      width: 4rem;
      height: 4rem;
      &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__info {
      width: 12rem;
      justify-content: space-between;
      bottom: 5px;
      background-color: rgba(0, 0, 0, 0.2);
      &__userName {
        color: #fffffe;
        font-size: clamp(0.7rem, 2.5vw, 0.8rem);
        cursor: default;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-radius: 4px;
        width: fit-content;
        max-width: 80%;
        &.--video {
          position: absolute;
          transform: translate(-50%, 0);
          bottom: 6px;
          left: 50%;
          width: 100%;
          z-index: 100;
          background: black;
        }
      }
    }
    &__screenBtn {
      position: absolute;
      top: 0;
      right: 0;
      &__label {
        font-size: 0.65rem;
      }
    }
  }
  &__stream {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 100px;
  }

  &.--moreUsers {
    color: white;
    font-size: x-large;
    font-weight: bolder;
  }
}

.defaultLayout {
  width: 100%;
  position: absolute;
  display: grid;
  z-index: 2;
  padding: 10px 10px;
  height: 100%;
  gap: 0.5rem;
  &.--1users {
    grid-template-columns: repeat(1, 1fr);
  }
  &.--3users {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }
  &.--4users {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }
  &.--moreviews {
    grid-template-columns: repeat(2, 1fr);
  }

  .userVideoBox {
    width: 100%;
    height: 100%;
    margin: 0 0;
    &.--third {
      grid-column: 1 / 3;
      width: 50%;
      justify-self: center;
    }
    &__avatar {
      &__info {
        left: 5px;
      }
    }
  }
  &.--split {
    right: 0;
    width: 33%;
  }
}
@media only screen and (min-width: 958px) {
  .defaultLayout {
    &.--2users {
      grid-template-columns: 50% 50%;
    }
    &.--moreviews {
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }
  }
  .--split {
    &.--2users {
      grid-template-columns: repeat(1, 1fr);
    }
    &.--moreviews {
      grid-template-columns: repeat(2, 1fr);
    }
    .userVideoBox {
      &__avatar {
        &__info {
          width: 8rem;
        }
      }
    }
  }
}

.presentationLayout {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 2;
  padding: 10px 10px;
  @media only screen and (max-width: 580px) {
    .userVideoBox {
      margin: 0 4px;
      &__avatar {
        &__info {
          width: 6rem;
        }
      }
    }
  }
}

.fade {
  display: none;
}
