.a-cooperateMenu {
  position: absolute;
  background-color: #202125;
  width: var(--width);
  bottom: var(--bottom);
  border-radius: 6px;
  z-index: 9999;
  &__tail {
    position: absolute;
    bottom: -28px;
    left: -12px;
    color: #202125;
  }
}
.--actions {
  left: 12%;
}
.--options {
  left: 62%;
}
.--functions {
  border-radius: 10px;
  left: 2%;
}
.--chatmenu {
  right: 0;
}
.--chatcase {
  top: -29px;
  left: 78%;
  transform: rotateZ(180deg);
}

@media only screen and (min-width: 300px) and (max-width: 578px) {
  .a-cooperateMenu {
    &__tail {
      bottom: -30px;
      left: -3px;
      display: none;
    }
  }
  .--actions {
    border-radius: 10px;
    bottom: 3rem;
    width: 10rem;
  }
  .--options {
    left: 0;
    border-radius: 10px;
  }
}
